.footer__copyright {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 25px;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-top: 90px;
  }
}

@media screen and (max-width: 570px) {
  .footer__copyright {
    margin-top: 65px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    margin: 65px 0 25px;
  }
}
