.header__image {
  max-width: 255px;
  display: block;
  margin: 34px auto 92px;
}

@media screen and (max-width: 768px) {
  .header__image {
    max-width: 254px;
    margin: 30px auto 90px;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    max-width: 188px;
    margin: 20px auto 50px;
  }
}
